/* colors   ==============================================*/
 @green: #a3cc31;
 @gray-med: #777777;
 @gray-dark: #444;
 @gray-light: #cacaca;

html, * {
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
}

img.logo {
  width: 290px;
  height: auto;
  margin-right: 0px;
}

h1.title a {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
}

.site-title {
  text-align: center;
  margin: 0px;
  border-bottom: solid 1px #ccc;
  padding: .25em 0;

  a {
    line-height: 1em;
    font-size: 1rem;
    display: inline-block;
  }
}

.container {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

[class*=sqs-col] .sqs-block {
    padding: 0px 0px 17px 0px;
}

.sqs-layout > .sqs-row {
    margin: 0; 
}

/* homepage featured item , restaurant Featured Item*/
div#block-yui_3_17_2_2_1484387714766_6729 { padding-right: 17px;}

div#block-yui_3_17_2_2_1484387714766_6729, div#block-yui_3_17_2_13_1476449576270_10468, div#block-yui_3_17_2_7_1455583608880_5337 , div#block-yui_3_17_2_22_1476466397947_12718{

  .sqs-gallery-meta-container {
    position: absolute;
    top: 22%;
    padding: 0 17px;
    background-color: rgba(255,255,255,0.7);
    z-index: 10;
    width: 75%;

    .summary-title {
      display: block;

      a {
        font-size: 20px;
            max-width: 90%;
            text-overflow: ellipsis;
            line-height: 1em;
            margin: 0;
            padding: .5em 0;
            display: block;
            text-align: left;
      }
    }
  }
  //padding-right: 17px;
  
  .summary-thumbnail {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      display: block;
      z-index: 3;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: .65;
      }
    }
  }
}

div#block-yui_3_17_2_13_1476449576270_10468 {
  .sqs-gallery-meta-container {
    top: 54%;
  }
}

/* homepage ad groups */
.homepage {
  .vertical-navigation-bar-wrapper {
    position: relative;

    .vertical-navigation-bar {
      position: relative;
      z-index: 100;
    }
  }
}

/* sponsors column  ======================================================  */
#sidebar-one .sponsors {
  text-align: center;
  margin-bottom: 2rem;
  
  h3 {
    margin-bottom: 1rem;
  }
}

div[id|='div-gpt-ad'] {
    width: 100% !important;
    margin-bottom: 1rem;
    overflow: hidden;
}

div[id|="google_ads_iframe"] {
    width: 100% !important;
    padding-bottom: 83.333%;
}

div[id|="google_ads_iframe"] iframe[width="300"][height="250"] {
    width: 100% !important;
    height: auto;
}

.google-ad--hidden {
  display:none;
}

.google-ad--shown {
  display: block;
  width: 300px;
  height: 250px;
}

/* end sponsors column  ============================================= */

div#page-body-wrapper, #content, #header-inside {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#main-navigation {
  padding-top: 5px;
}

li.main-navigation-item a {
  margin-right: 20px;
}

.full-image-block img {
  width: 100%;
  margin: 20px 0;
  display: block;
}

a {
  &.tag {
    font-family: "Bree Serif";
    font-weight: 300;
    font-size: .8rem;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 2px;
    color: #fff;
    padding: 2px 8px;
    background-color:  @gray-med;
    white-space: nowrap;
  }
  &.category {
    font-family: "Bree Serif";
    font-weight: 300;
    font-size: .8rem;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 2px;
    color: #fff;
    padding: 2px 8px;
    background-color:  @green;
    text-transform: uppercase;
  }
  &.button {
    background-color: @green;
    color: #fff;
    padding: .25rem .75rem;
  }
}

.meta {
  color: #777777;
  font-family: "Bree Serif";
  position: relative;
  overflow: hidden;
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
  }
}

h3.location {
  font-family: "Bree Serif";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 150%;
}

h4.location {
  font-family: "Bree Serif";
  font-size: 24px;
  line-height: 150%;
  color: rgb(55, 57, 59);
  margin: 0;
  padding: 0;
  font-weight: 200;
}

.comment-area {
  border: solid 20px #FAFAFA;
  margin: 20px auto;
  width: 70%;
  padding: 20px;
}

.squarespace-comments .header-controls .controls .comment-count {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Reenie Beanie", cursive;
  padding: 4px 10px;
  font-weight: normal;
  display: block;
  clear: both;
  margin: 5px auto;
  float: none;
  width: 200px;
  text-align: center;
}

.pre-footer {
  position: relative;
  z-index: 400;
  background-color: #fff;
}

#page-footer-wrapper {
  background-color: #777777;
  padding: 25px;
  position: relative;
  z-index: 400;
}

#page-footer {
  h2 {
    color: #FFF;
    font-family: "Reenie Beanie", cursive;
    margin: 20px auto;
    text-align: center;
    font-weight: 400;
    font-style: normal;
  }
  .image-block {
    width: 21%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
  }
  img {
    width: 120px;
    height: auto !important;
    max-width: 120px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
}

.sqs-block-image {
  height: auto;
  vertical-align: middle;
  text-aling: center;
}

.eventitem .sqs-block-image {
  height: auto;
  .intrinsic .image-block-wrapper img {
    width: 100%;
    position: relative;
    display: block;
  }
}

#page-footer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.sqs-block-form {
  width: 60%;
  margin: 10px auto;
}

.form-wrapper {
  input[type=submit] {
    background-color: #a3cc31;
    display: inline-block;
  }
  .form-button-wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

#email-yui_3_17_2_1_1447637100101_12659 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-wrapper {
  input.field-element {
    display: inline-block;
    width: 200px !important;
  }
  .field-list {
    line-height: normal;
    clear: none !important;
    display: inline;
  }
}

.field-list.clear {
  line-height: normal;
  clear: none !important;
  display: inline;
  &:after {
    line-height: normal;
    clear: none !important;
    display: inline;
  }
}

ul.footernav {
  list-style: none;
  display: inline-block;
  li {
    width: 50%;
    float: left;
    display: inline;
    a {
      color: #FFF;
      text-decoration: none;
      font-size: 14px;
      font-family: "Bree Serif";
    }
  }
}

#block-yui_3_17_2_2_1447873781726_26190 {
  width: 120px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#block-yui_3_17_2_2_1447873781726_33070 {
  display: inline-block;
  vertical-align: top;
}

#yui_3_17_2_2_1447873781726_35705 {
  opacity: 0.5;
}

#block-yui_3_17_2_3_1447637100101_9051 {
  display: none;
}

.wewroteabook {
  display: inline-block;
  vertical-align: top;
  p {
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-right: 84px;
  }
}

a.buybutton {
  background-color: #A2CE19;
  padding: 7px 12px;
  color: #FFF;
  text-decoration: none;
}

div#yui_3_17_2_4_1447876453628_1710 {
  width: 150px;
  float: right;
  margin-top: 45px;
}

#page-footer img.rssicon {
  padding: 0;
  display: inline;
  vertical-align: bottom;
  height: 25px !important;
  width: 25px !important;
  margin-left: 5px;
}

img.imgleft {
  float: left;
  padding: 0 25px 0 0;
}

#footer-row1 img, img.dimmed {
  opacity: 0.6;
  vertical-align: middle;
  &:hover {
  	opacity: 0.9;
  }
}

#footer-row1 div {
  height: 120px;
  line-height: 120px;
  display: table-cell;
  vertical-align: middle;
}

#footer-row1 {
  margin-bottom: 1rem;
  clear: both;
  display: block;
  vertical-align: middle;
  overflow: hidden;
}

#footersecondrow {
  display: block;
  clear: both;
  margin-top: 45px;
}

#footerthirdrow {
  font-size: 14px;
  line-height: 22px;
  font-family: "Maven Pro";
  margin-top: 40px;
  text-align: center;
  color: #EEEEEE;
}

#page-footer .social-icons img {
  width: 35px !important;
  float: left;
  height: 35px !important;
  margin: 8px !important;
  padding: 0;
}

.clearer.sqs-col.sqs-col-12, #page-body-footer {
  display: block;
  clear: both;
  float: none;
}

h3, .related h2 {
  text-align: center;
  display: inline-block;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Reenie Beanie", cursive;
  margin: 0 auto;
  padding: 2px 15px;
  font-weight: normal;
  font-size: 26px;
}

h3 {
  width: auto;
  padding: .5rem 1.5rem;
  margin: 10px auto;
}

#sidebar-one {

  .sqs-block.sqs-block-html .sqs-block-content {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Reenie Beanie", cursive;
    margin: 0 auto;
    padding: 2px 15px;
    font-weight: normal;
    font-size: 26px;
  }

  h4 {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    margin: 0;
    padding: 4px 20px;
    font-family: "Bree Serif";
    font-weight: 50;
  }
  h5 {
    text-align: center;
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: "Bree Serif";
    font-weight: 300;
  }
  img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 15px 0 5px 0;
  }
  #block-yui_3_17_2_2_1450049018225_5453 img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: .35rem;
  }
  .sqs-layout.sqs-grid-1.columns-1 {
    display: block;
    margin-bottom: 2rem;
  }
  .has-aspect-ratio[style] {
    padding: 0 !important;
  }

  .summary-thumbnail {
    img {
      margin: 0px;
    }
  }
}

div[data-type="page"] {
  .sqs-block.sqs-block-html .sqs-block-content {
    text-align: center;

    p {
      text-align: left;
    }

    .text-align-center {
      text-align: center;
    }

    .text-align-left {
      text-align: left;
    }

    .text-align-right {
      text-align: right;
    }
  }
}

html .sqs-block.sqs-block-html .sqs-block-content {
  text-align: center;

  .text-align-center {
    text-align: center;
  }

  .text-align-left {
    text-align: left;
  }

  .text-align-right {
    text-align: right;
  }
}

html article .sqs-block.sqs-block-html .sqs-block-content {
  text-align: left;

  .text-align-center {
    text-align: center;
  }

  .text-align-left {
    text-align: left;
  }

  .text-align-right {
    text-align: right;
  }
}

#content p {
  padding-right: 55px;
}

#header {
  padding: 0;
  border-bottom: solid 1px #ccc;
  margin: 0 0 20px 0;
  width: 100%;
  background-color: #FFFFFF;
  display: block;
  z-index: 10;
}

.sqs-block-image .intrinsic .image-block-wrapper img {
  display: block !important;
  clear: both !important;
  width: 90%;
  max-width: 825px;
  height: auto !important;
  margin: 0;
  vertical-align: top;
  padding: 0;
  position: relative;
}

.section-restaurants, .section-homepage, .section-features, .section-calendar {
  .image-caption-wrapper {
    background: transparent !important;
    position: absolute !important;
    top: 40px  !important;
    left: 20px  !important;
  }

  .image-caption p {
    color: #000000 !important;
    font-size: 20px !important;
    font-family: "Bree Serif";
    font-weight: 300;
    background: rgba(255, 255, 255, 1) !important;
    padding: 5px 10px;
    display: inline-block;
  }
}

.sqs-block-form {
  background-color: #777777;
  width: 100%;
  max-width: 1200px;

  #main-restaurants & {
    padding: 1em;
  }
}

#yui_3_17_2_2_1448750180020_8674 {
  color: #FFF;
  font-family: "Bree Serif";
  font-weight: normal;
  font-size: 26px;
}

input #email-yui_3_17_2_1_1448750180020_12044-field {
  display: inline-block;
  width: 200px;
}

.editions {
  text-align: center;
  font-family: "Bree Serif";
  font-weight: 100;
  .editions__navigation {
    color: #777777;
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 200%;
    font-weight: 100;
  }
  p {
    margin: 0;
    padding: 0;
    a {
      display: inline-block;
      margin: 0 15px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 100;
    }
  }
}

.summary-item-list-container a {
  text-align: center;
  font-family: "Bree Serif";
  font-weight: 100;
  color: #1F2021;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
}

.collection-type-blog .main-image {
  display: none;
}

.editions hr {
  background-color: #dddddd;
  width: 30%;
  height: 1px;
  max-height: 1px;
  border: none;
}

#inlinead1 {
  float: right;
  margin-top: -410px;
  width: 33%;
  height: 300px;
  margin-right: 65px;
  img {
    width: 300px;
    margin-left: 44px;
    margin-top: 80px;
  }
}

.clearer {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}

#regform-wrapper p {
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 0;
  clear: both;
}

#reg-form {
  .title {
    display: none;
  }
  .form-item.field.email {
    margin: 0;
    display: inline-block;
  }
}

#regform {
  text-align: left;
  padding-top: 10px;
  .form-wrapper {
    display: table-cell;
  }
}

#regform-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}

div#reg-form {
  background-color: #777;
  border: solid 10px #ebebeb;
  width: 85%;
  margin: 20px auto;
  display: block;
  padding: 5px 15px;
  max-width: 1000px;
  text-align: center;
  float: none;
}

#reg-form {
  .form-wrapper .field-list .field .field-element {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
  }
  .form-block.sqs-block-form {
    margin: 0;
    text-align: center;
    background-color: transparent;
  }
}

#regform-wrapper h2 {
  color: #fff;
  font-size: 32px;
  font-family: "Bree Serif";
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#sidebar-one #regform-wrapper h2 {
  width: auto;
}

#reg-form.home-page {
  .row.sqs-row {
    width: 100;
    text-align: center;
    .col.sqs-col-1 {
      display: flex;
      align-items: stretch;
    }
  }
  .sqs-block-html {
    display: inline-block;
    padding: 17px 0;
    flex: 1 1 50%;
  }
  .sqs-sqs-block-form {
    display: inline-block;
    flex: 1 1 50%;
  }
}

.sqs-block.summary-v2-block.sqs-block-summary-v2 {
  max-width: 930px;
  margin: 0 auto;
}

div {
  &.full-image {
    position: relative;
  }
  &.dimmer {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 1);
  }
  &.full-image {
    .image-caption {
      position: absolute;
      top: 30%;
      text-align: center;
      padding: 5px;
      left: 30%;
      z-index: 100;
      color: #000;
      background-color: #FFF;
      font-family: "Bree Serif";
      font-weight: 300;
      font-size: 20px;
      a {
        position: absolute;
        top: 30%;
        text-align: center;
        padding: 5px;
        left: 30%;
        z-index: 100;
        color: #000;
        background-color: #FFF;
        font-family: "Bree Serif";
        font-weight: 300;
        font-size: 20px;
      }
    }
    img {
      width: 100%;
      height: auto;
      max-width: 930px;
      text-align: center;
      display: block;
      clear: both;
      margin: 10px auto;
      position: relative;
      opacity: 0.6;
    }
  }
}

img.right {
  &.quarter.ad {
    float: right;
    margin-top: -400px;
    margin-right: 227px;
    height: 100%;
    width: 30%;
  }
  &.one-sixth.ad {
    float: right;
    margin-top: -290px;
    margin-right: 184px;
    height: 100%;
    width: 9%;
  }
}

div.full-image img {
  &:hover {
    opacity: 1.0;
    transition: 1.2s;
  }
  &:not(hover) {
    opacity: 0.6;
    transition: 1.2s;
  }
}

hr.large {
  height: 6px;
  border: none;
  background-color: #dddddd;
}

#main-restaurants {
  margin-right: 25px;
  img.right.quarter.ad {
    float: right;
    margin-top: -359px;
    margin-right: 82px;
    height: 100%;
    width: 39%;
  }
}

/*#content-restaurants #sidebar-one h3 {
  width: 111px;
}*/

#sidebar-one {
  #reg-form {
    width: 95% !important;
    max-width: 100% !important;
    display: block;
    margin: 15px auto;
    padding: 15px 5px;
    text-align: center;
    .sqs-layout > .sqs-row, .sqs-row {
      max-width: 100% !important;
      text-align: center;
      margin: 2px 0;
    }
    button, submit {
      display: block;
      clear: both;
      margin: 5px !important;
      max-width: 90%;
    }
    h2 {
      display: block;
      font-size: 25px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    #sidebar-one #reg-form .form-wrapper input.field-element {
      display: block;
      width: 230px !important;
    }
    p {
      line-height: 170%;
    }
  }
  .form-item.field.email {
    margin: 0;
    display: block;
    width: 105% !important;
    min-width: 105% !important;
  }
  #regform {
    display: block;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    .sqs-block {
      padding: 0;
    }
    .form-wrapper {
        display: block;
        width: 95%;
    }
  }
  #reg-form .form-wrapper .field-list .field .field-element {
    width: 100% !important;
  }
}

#searchform {
  display: inline;
  clear: none;
  float: right;
}

input#searchtext:hover {
  cursor: pointer;
}

#searchbtn {
  background-image: url(/assets/searchbutton.svg);
  background-size: 100% 100%;
  border: 0;
  padding: 0 10px 10px 0;
  background-repeat: no-repeat;
  background-color: transparent;
  color: transparent;
  margin-top: 5px;
}

/* Calendar CSS fixes */

.yui3-calendar-header-label {
  font-family: "Bree Serif";
  font-weight: 100;
  font-size: 48px;
  margin-bottom: 20px;
}

.yui3-squarespacecalendar {
  .yui3-calendarnav-prevmonth:before, .yui3-calendarnav-nextmonth:before {
    color: transparent;
    content: "";
  }
}

.yui3-calendarnav-prevmonth {
  background-image: url(/assets/left_arrow_green.svg);
}

.yui3-calendarbase, .sqs-events-collection-list {
  margin-top: 70px;
}

.yui3-calendarnav-nextmonth {
  background-image: url(/assets/right_arrow_green.svg);
}

.nav-container {
  display: block;
  text-align: center;
  width: 100%;
}

#navicons {
  img {
    padding-right: 15px;
  }
  a {
    display: inline-block;
  }
}

span {
  &.calendar-icon {
    width: 30px;
    height: 30px;
    background-image: url(/assets/calendar_view_gray.svg);
    display: block;
  }
  &.list-icon {
    width: 30px;
    height: 30px;
    background-image: url(/assets/list_view_gray.svg);
    display: inline-block;
    &:hover {
      background-image: url(/assets/list_view_green.svg);
    }
  }
  &.calendar-icon:hover {
    background-image: url(/assets/calendar_view_green.svg);
  }
}

.social-icons-style-regular, #page-footer #sqs-social {
  display: none;
}

#directory-top {
  margin-left: 60px;
}

#directory-action {
  margin-top: 0;
  padding-top: 0;
}

#collection-5672dd7fa2bab8f9c9766e38 {
  p strong em {
    font-family: "Bree Serif";
    font-weight: 100;
  }
  .summary-block-collection-type-blog {
    width: 90%;
    .summary-excerpt img {
      display: none;
    }
  }
  #main-restaurants {
    .sqs-block {
      padding-top: 0;
      padding-bottom: 0;
    }
    div {
      &.sqs-block-summary-v2 {
        display: none;
      }
      &.choosetext {
        padding-left: 50px;
        color: #999;
      }
    }
    h2 em {
      display: none;
      font-style: normal;
    }
  }
}

div.loading p {
  color: #999;
  vertical-align: middle;
  padding: 20px 0 20px 50px;
  img {
    margin: 10px;
    vertical-align: middle;
  }
}

.related {
  padding-top: 200px;
  h2 {
    background-color: #FFF;
    margin: 0 0 20px 0;
    padding: 0;
    color: #1F2021;
    font-size: 36px;
    text-align: left;
  }
  p {
    font-size: 13px;
    font-weight: normal;
    line-height: 130%;
    margin: 0;
    padding: 0;
    padding: 10px 0;
    font-family: "Bree Serif";
    a {
      color: #1F2021;
      text-decoration: none;
    }
  }
}

.share-widgets {
  display: block;
  margin-bottom: 20px;

  .squarespace-social-buttons.button-style .ss-social-button-wrapper {
    width: 50%;

    .ss-social-button {
      display: block;
    }
  }
}

#featured-story {
  width: 97%;
  height: auto;
  min-width: 97%;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-color: #000;
  img.mainimg {
    width: 97%;
    height: auto;
    min-width: 97%;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top;
    background-color: #000;
  }
}

.blog-article-container {
  float: left;
  width: 100%;

  h1.title {
    margin-top: 0;
  }

  .meta {
    margin: .5rem 0;

    .fb-like {
      float: right;
    }
  }

  div[data-block-type="23"] {
    .sqs-block-content {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .tags, .categories {
    display: inline-block;
    margin-bottom: .5rem;
  }
}


#featured-story {
  a img.mainimg {
    width: 100%;
    height: auto;
    display: block;
  }
  img.mainimg {
    &:hover {
      /* opacity: 0.3;
       background-color: #000;
       transition: 0.5s;
       */
    }
    &:not(hover) {
      /* opacity: 1.0;
      background-color: #000;
      transition: 0.5s;
      */
    }
  }
  h2 {
    position: absolute;
    top: 8%;
    left: 2%;
    z-index: 20;
    background-color: #fff;
    padding: 4px 10px;
  }
  .fb-thumb {
    width: 50px;
    height: 60px;
    margin: 0;
    padding: 2px 0 2px 10px;
  }
  .main-dimmer {
    .social-info {
      width: 150px;
      height: 200px;
      position: absolute;
      top: 38%;
      left: 44%;
      z-index: 200;
      display: block;
      max-width: 150px;
      margin: 0;
      padding: 0;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: 0.5s;
    &:hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 1.0;
      background-color: rgba(0, 0, 0, 0.6);
      transition: 0.5s;
    }
  }
}

div#block-yui_3_17_2_12_1449111867409_7477 {
  border: solid 10px #fafafa;
}

#yui_3_17_2_8_1452002458226_6561 {
  background-color: #000;
}

#collection-5640df3be4b0652a44eddd26 .summary-thumbnail .img-wrapper {
  position: relative;
  background-color: #000;
  opacity: 1;
}

.collection-type-restaurants img.main-image {
  display: block;
}

#collection-5640df3be4b0652a44eddd26 {
  .summary-thumbnail-image {
    background-color: #FFF;
    opacity: 1;
    &:hover {
      background-color: #000;
      opacity: 0.3;
    }
  }
  .summary-title {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 10;
    padding: 4px 10px;
    background-color: #fff;
    a {
      font-size: 22px;
    }
  }
}

#searchform input {
  border: none;
  width: 80px;
  font-size: 22px;
  font-weight: 500;
}

.new-comment-area {
  position: absolute;
  bottom: 0;
}

.comments-content {
  position: relative;
}

.squarespace-comments {
  margin-top: 30px;
  border: solid 20px #fafafa;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.summary {
  display: block;
  padding: 10px 0;
  clear: both;
  margin: 10px 0;
  h1 {
    margin: 0;
    padding: 0;
    &.title {
      a {
        color: #1F2021;
        font-size: 2rem;
        font-family: "Bree Serif";
        font-weight: 300;
        margin: 0 0 5px 0;
        padding: 0;
        line-height: 100%;
      }
      margin: 0 0 5px 0;
      padding: 0;
      line-height: 100%;
    }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: #1F2021;
  }
}

.summary-image {
  float: left;
  width: 30%;
  margin-top: 15px;
  a img {
    width: 220px;
  }
}

.summary-info {
  float: right;
  width: 68%;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  a {
    &.tag {
      background-color: #A2CE19;
      white-space: nowrap;
    }
    text-decoration: none;
  }

  p {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
}

.intrinsic {
  max-width: 100% !important;
}

span[style*="font-size:13.333"] {
    font-size: 1rem !important; 
}

.addressinfo {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  h4 {
    margin-bottom: 0px;
    font-size: 1rem;
  }
  span {
    display: block;
    font-size: .875rem;
    line-height: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
  }
}

.hide {
  display: none;
}

div#sidebar-one-wrapper {
  float: right;
}

.bottomad {
  display: block;
  margin: 10px auto 0 auto;
  padding: 15px 0;
  text-align: center;
  background-color: #FAFAFA;
}

.blog-article-container {
  float: left;
  width: 99%;
}

div#page-body-wrapper, #collection-56c2703e7da24f852dc7eea1 .summary-thumbnail.img-wrapper {
  position: relative;
}

#yui_3_17_2_1_1455847766455_861 .summary-title a {
  font-size: 30px;
  background-color: #fff;
  font-family: "Bree Serif";
  font-weight: 300;
  font-size: 40px;
  position: absolute;
  top: 40%;
  width: 70%;
}

#yui_3_17_2_1_1455848289956_165 {
  position: relative;
}

div#yui_3_17_2_1_1455847987539_859 a {
  position: absolute;
  top: 40%;
  width: 70%;
  margin: 0 15%;
  background: #FFF;
  font-size: 26px;
  line-height: 30px;
  padding: 10px;
}

.editions {
  margin: 20px 0;
}

.main-navigation-list li:last-of-type {
  a:hover:after {
    content: "\25bc";
    font-size: 11px;
    margin-left: 5px;
    color: #a2ce19;
    vertical-align: top;
  }
  &:not(hover) ul {
    display: none;
  }
  &:hover ul {
    display: block;
  }
}

li.main-navigation-item ul {
  margin-left: 0;
  padding-left: 0;
}

.main-navigation-list li:last-of-type {
  position: relative;
  ul {
    position: absolute;
    z-index: 1000;
    top: 32px;
    left: -10px;
    background-color: #EBEBEB;
  }
}

.main-navigation-item {
  .main-navigation-dropdown {
    display: block;
    width: 200px;
    padding: 3px 10px;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
  }
  ul li.main-navigation-dropdown a:after, &:hover ul li.main-navigation-dropdown a:after {
    content: "";
  }
}

#secondary-content {
  padding-right: 20px;
}



#regularsearch {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}


input#searchtext {
    margin-right: 20px;
    width: 90px;
    color: #777;
}

input#searchbtn {
    width: 38px;
    margin-right: 40px;
}

/* search results */
.search-results em {
    background-color: rgba(165, 206, 52, 0.3);
}

/*  =========================== Media Queries ================================ */

@media screen and (max-width: 1120px) {
  .main-navigation-item:first-child {
    display: none;
  }
  img.logo {
    margin-right: 10px;
  }
  .summary-image, .summary-info {
    float: none;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .main-navigation-item:first-child {
    display: block;
  }
  #content-wrapper, #sidebar-one, #main-restaurants {
    width: 100%;
    float: none;
    display: block;
    clear: both;
    padding: 10px;
  }
  div#reg-form {
    margin: 10px;
  }
  #regform-wrapper h2 {
    display: block;
    width: 90%;
    padding: 2px 10px;
  }
  #reg-form {
    .form-item.field.email {
      display: block;

    }
    .form-wrapper .field-list .field .field-element {
      width: 90% !important;
    }
  }
  #regform .form-wrapper {
    width: 100%;
    display: block;
  }
  div#sidebar-one-wrapper, #collection-5691ba73e0327c8c422a888f .summary, div#sidebar-one-wrapper {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
  #collection-5691ba73e0327c8c422a888f {
    #content, .sqs-col.sqs-col-8 {
      float: none;
      display: block;
      width: 100%;
      clear: both;
    }
  }
  .summary-image, .summary-info {
    float: none;
    width: 100%;
    display: block;
  }
  .bottomad {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
  #sidebar-one h3, h3, #content-restaurants #sidebar-one h3 {
    width: 100%;
  }
  #regularsearch {
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
    text-align: center;
  }
  div#searchoverlayform {
    background-color: #a2ce19;
    clear: both;
    padding: 30px 5px;
  }
  .main-navigation-list {
    padding-left: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-navigation-item {
    display: block;
    margin-right: 0px;
    text-align: center;
    min-width: 23%;
    border-bottom: solid 1px #ddd;

    a {
      display: block;
      margin: 0px;
      font-size: 1rem;
    }
    
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
  #searchform {
    display: block;
    clear: both;
    float: none;
    margin: 10px;
    width: 100%;
    text-align: center;
  }

  input #searchtext {
    font-size: 1rem;
  }
  input #searchtext:hover {
    cursor: pointer;
  }
  #searchform input {
    margin-left: 12px;
  }
  .calendar-icon, .list-icon {
    display: none !important;
  }
  img.right.quarter.ad {
    float: none;
    margin-top: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
  }
  #inlinead1 {
    float: none;
    margin-top: 0;
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  img.right.one-sixth.ad {
    float: none;
    margin-top: 0;
    margin-right: 0;
    height: auto;
    width: 100%;
  }
  #inlinead1 img {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  
}

/*  Tag Cloud  ============================================================ */

.sqs-tagcloud li {
    font-size: 1rem !important;
    a {
      text-decoration: none;
      padding: .2em .5em;
      background-color: #f1f1f1;
      border-radius: 8px;
    }
}


.collection-type-blog {
	&.view-list {
		article {
			overflow: hidden;
			zoom: 1;
			.title {
				a {
					
				}
			}
			.main-image {
				display: inline-block;
				float: left;
				margin: .4rem 1rem .5rem 0rem;
				max-width: 30%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.article--excerpt {
			
				.full-image-block {
					display: none;
				}
				img {
					display: none;
				}

				p:first-of-type {
					margin-top: 0rem;
				}
			}

			.more-link {
				text-align: right;
				padding: 1rem 2rem 0 0;
        
        a.link {
          transition: color 0.5s ease;
          text-decoration: none;
          &:hover {
            color: darken(@green, 40%);
          }

          i.fa {
            &:before {
              color: inherit !important;
            }
          }
        }
			}
		}
	}
}

ul.eventitem-meta.event-meta.event-meta-addtocalendar-container:before {
    content: 'Add Event To Your Calendar';
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
   }

#block-3f99771a01c2717af962 form {
	padding: 1rem;

   	.title {
   		color: white;
   	}
}

article h1.title a {
  color: #1f2021;
  font-size: 2.5rem;
  line-height: 1.1em;
  
  span.subtitle {
      font-size: 47%;
      opacity: .5;
      text-transform: uppercase;
      display: block;
      text-align: left;
  }

}