.collection-type-blog {
	&.view-list {
		article {
			overflow: hidden;
			zoom: 1;
			.title {
				a {
					
				}
			}
			.main-image {
				display: inline-block;
				float: left;
				margin: .4rem 1rem .5rem 0rem;
				max-width: 30%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.article--excerpt {
				max-height: 15rem;
				overflow: hidden;
				text-overflow: elipsis;

				.full-image-block {
					display: none;
				}
				img {
					display: none;
				}

				p:first-of-type {
					margin-top: 0rem;
				}
			}

			.more-link {
				text-align: right;
			}
		}
	}
}

ul.eventitem-meta.event-meta.event-meta-addtocalendar-container:before {
    content: 'Add Event To Your Calendar';
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
   }

#block-3f99771a01c2717af962 form {
	padding: 1rem;

   	.title {
   		color: white;
   	}
}