.collection-type-blog {
	&.view-list {
		article {
			.title {
				a {
					
				}
			}
			.main-image {
				display: inline-block;
				float: left;
				margin: .4rem 1rem .5rem 0rem;
				max-width: 30%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.article--excerpt {
				max-height: 15rem;
				overflow: hidden;
				text-overflow: elipsis;

				.full-image-block {
					display: none;
				}
				img {
					display: none;
				}

				> p:first-of-type {
					margin-top: 0rem;
				}
			}

			.more-link {
				text-align: right;
			}
		}
	}
}