@media screen and (max-width: 767px) {
	.sqs-col-12 .sqs-col-8 {
		width: 100%;

		.related {
			h2  {
				font-size: 1.5rem;
			}

			.share-widgets .squarespace-social-buttons.button-style .ss-social-button-wrapper {
		    	width: 100%;
		 	}
		 }
	}

	#main-column {
		clear: both;

		> article {
			width: 75% !important;
		}
	}


	article.post-type-text h1.title a {
	    font-size: 2rem;
	    line-height: 1.1em;
	}
	
	#footer-row1 .sqs-col {
	    display: block;
	    text-align: center;

	    &.sqs-col-1 {
		    display: none;
		}
	}

	#footer-row1 .sqs-col

	div#footersecondrow {
	    margin-top: 0;

	    .sqs-col {
    	    margin-bottom: 1rem;
    	}
	}
}

div#content-wrapper  {
	padding-right: 1rem;
}