div#searchoverlay {
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		z-index: 200;
		max-width: 1200px;

		.searchoverlay-close-btn {
		    position: relative;
		    top: 1rem;
		    width: 10rem;
		    height: 5rem;
		    background-color: #a2ce19;
		    display: inline-block;
		    float: right;

		    img#searchoverlayclose {
		        width: 2rem;
		        position: absolute;
		        right: 2rem;
		        top: 1rem;
		        cursor: pointer;
		    }
		}

		#searchoverlayform {
			background-color: #A2CE19;
			clear: both;
			padding: 50px 50px;

			#q {
				background-color: transparent;
				border: solid 1px #FFF;
				padding: 15px 10px;
				color: #FFF;
				font-size: 20px;
				width: 60%;
				text-align: right;
				margin-right: 15px;
			}

			::-webkit-input-placeholder {
				color: #FFF; 
			}
			:-moz-placeholder { /* older Firefox*/
				color: #FFF; 
			}
			::-moz-placeholder { /* Firefox 19+ */ 
				color: #FFF; 
			} 
			:-ms-input-placeholder { 
				color: #FFF; 
			}

			.tag-search {
				display: block;
				padding-top: 10px;
				border-top: 1px solid #000;
				margin-top: 10px;

				h4 {
					display: block;
					text-align: center;
					margin: 0 0 .5rem 0;
				}
				.tag-group {
					padding-bottom: .5rem;
					padding-left: 5rem;
					margin-bottom: .5rem;
					border-bottom: 1px dotted #999999;
					h5 {
						margin: 0 1rem 1.5rem -5rem;
						display: inline-block;
						float: left;
					}
				}
				.tag-search-btn {
					padding: .2rem .5rem;
					margin-bottom: .5rem;
					background-color: rgba(255,255,255,0.5);
					border-radius: 5px;
					border-width: 0px;
					line-height: 1.1em;
					vertical-align: middle;
					font-size: .875rem;
					i {
						font-size: inherit;
						width: 1rem;
						height: 1rem;
						background: url(assets/fontawesome-svg-black/arrow-right.svg) center center no-repeat;
						background-size: cover;
						opacity: .5;
						display: inline-block;
				    line-height: 1.1em;
				    vertical-align: bottom;
					}

					&:hover {
						background-color: rgba(255,255,255,0.9);
						i {
							opacity: 1.0;
						}
					}
				}
			}
		}
}

.overlay-edition {
		width: 25%;
		display: inline-block;
}

#searchmagnify {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0 20px;
	vertical-align: bottom;
}